.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: 3px solid #007bff;
}

.body-login {
  background-color: #f8f8f8;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btnLogin {
  display: flex;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  flex: auto;
}

button:hover {
  background-color: #0056b3;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}

#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.Loading-login {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
}

.ant-form-item .ant-form-item-label {
  text-align: start;
}
