.header-left{
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 15px 0;
    width: 88%;
  margin-top: 2%;
  margin-left: 2%;


}
.button-add{
   
    /*padding: 0 0 15px 0;*/
    margin-left: 0px;
}

.your-group{
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 15px 0;
}
.header-classes {
   
        position: fixed;
        top: 76px;
        z-index: 700;
        width: 24.5%;
        background-Color: white,

}
/* Style cho container của carousel */
.slider-container {
    width: 100%;
    max-width: 800px; /* Điều chỉnh chiều rộng tối đa của carousel */
    margin: 0 auto;
  }
  
  /* Style cho mỗi slide */
  .slide {
    width: 20%; /* Kích thước của mỗi slide */
    float: left; /* Đảm bảo các slide nằm cạnh nhau */
    box-sizing: border-box;
    padding: 10px;
  }
  
  /* Style cho hình ảnh trong slide */
  .slide img {
    max-width: 22vw;
    min-width: 22vw;
    height: auto;
    border-radius: 5px;
    max-height:20vh;
    min-height: 20vh;
   
  }
  
  /* Style cho tiêu đề trong slide */
  .slide h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* Style cho mô tả trong slide */
  .slide p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Style cho thông tin về tác giả trong slide */
  .author-info {
    margin-top: 20px;
  }
  
  /* Style cho hình ảnh của tác giả trong slide */
  .author-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
@media screen and (max-width: 46.1875em){
    .LeftHome {
        width: 25%;
        z-index: 999;
        display: block;
        background-color: #a7a1a1;
       }
       .Left {
        display: block;
        font-size: 20px;
        margin-top: 2%;
       
       }
    .header-left {
        width: 186%;
    margin-top: 58%;
    }
}