.class{
    display: flex;
flex-wrap:wrap;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 22px;

}
.item-class{
    display: flex;
    width: 48%; /* Đặt chiều rộng của mỗi item */

    margin-bottom: 10px; /* Tạo khoảng cách giữa các item */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước thực sự của phần tử */
    border: 2px solid #e8e8e8;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

}
.item-class img{
    width: 65%;
    height: 15rem;
    border-radius: 50%;
    margin-right: 10px;
}
.info-class button {
    width: 80%;
    margin-bottom: 15px;
}
#avatar-container{
    display: flex;
    justify-content: left;
    align-items: center;
}
#avatar-container img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}