
  .cover-photo {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
  
  .cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 68%;
    left: -4%;
    transform: translateX(50% );
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
  }
  
  
 
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .usename-button{
    position: absolute;
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin-top: 10px;
    right: 0;
  }
  .profile-picture__button{
    height: 30px;
    font-size: medium;
  }

  .profile-user{
    margin: 2rem 2rem;
    height: 80vh;
    overflow-y: auto;

  }
  .title-profile p{
    
    margin: 1rem 1rem;

  }
  .infor-user {
    margin-top: 15px;
  }
.infor-user button {
  max-width: 10%;
  height: 35px;
  margin: 26px 0;
  border-radius: 5px;
  background-color: #0866ff;
}
.title-profile{
  text-align: center;
}
 