
.edit-profile{
    position: fixed;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -50%); */
  display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 247, 247, 0.904); /* Độ mờ của form */
  z-index: 999; /* Đảm bảo form nằm trên cả nội dung khác */
  height: 100vh;
  overflow-y: auto;

}
.form-edit-profile{
width: 50%;
margin-top: 30px;
height:  460px;
background-color: white;
border-radius: 10px;
overflow-y: auto;
border: 1px solid #e6e6e6;
border-radius: 10px;


}
.profile-picture-edit img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ten h4{
    margin:4px 0 0 24px;
}
.form-item{
width: 90%;
display: flex;
align-items: center;
margin: 0 30px 0 30px;


}

.ten{
  border-top: 1px solid #e6e6e6;
}

.login-form-button{
  position: relative;
  bottom: 0;

}

.ant-tabs-nav-list{
 transform: translate(170px,0px);
}

.stu-tea{
  display: flex;
  flex-wrap: wrap;
}

.information-profile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-item-register {
  width: 100%;
  margin-bottom: 16px;
}

.ant-form-item-label > label {
  width: 100px; /* Đặt chiều rộng cố định cho nhãn */
}

.ant-form-item-control-input-content {
  max-width: 180px; /* Đặt chiều rộng tối đa cho nội dung */
}

.stu-tea {
  width: 100%; /* Đảm bảo khối stu-tea chiếm 100% chiều rộng */
}
