.post-item {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 15px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #c2bebe;
  border-bottom: 10px solid #c2bebe;

}
.comment {
  margin: 0 0 1em 0;
}
.post-content{
  max-height: 500px;
}
.user-info {
  display: flex;
  margin: 15px 0 0 15px;
}

.user-name {
  flex: 7;
  margin:25px 0 0 5px;
}

.post-actions-icon {
  margin-right: 5px;
  font-size: 22px;
  color: 'blue';
  background-color: none;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  border-top: 0.1px solid #ddd0d0;
  border-bottom: 0.1px solid #ddd0d0;
  width: 90%;
  margin: 0 30px;
}

.like-button {
  display: inline-flex;
  align-items: center;
  background-color: #1877f2;
  /* Màu nền xanh dương của Facebook */
  color: white;
  /* Màu chữ trắng */
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.like-button i {
  margin-right: 8px;
  color: white;
  /* Màu biểu tượng thích trắng */
}

.post-image{
  width: 40%;
  height: 40vh;
  margin:0 5px
}


.image-post{
  margin: 0 0 0 60px;
  position: relative;
}
.post-content{
  margin: 0 0 0 30px;
}

.post-content img{
  width: 80%;
  height: 100%;
}

.avatarPost{
  margin:5px
}
.ant-avatar {
  width: 50px;
  height: 50px;
}
.overlay {
  position: absolute;
  bottom: 4px;
  right: 113px;
  background-color: rgba(0, 0, 0, 0.7); /* Màu nền của lớp overlay */
  color: #fff; /* Màu chữ trắng */
 display: flex;
 justify-content: center;
 text-align: center;
  width: 40%;
  height: 40vh;
  z-index: 2; /* Đảm bảo lớp overlay hiển thị trên ảnh */
}

.overlay-content{
  text-align: center;
  padding:90px;
  font-size: 20px;
  font-weight: bold;
}
.file-post{
  margin: 0px 0 0px 30px;
  width: 90%;


}
.image-file{
  flex:2;
}

.name-file{
  flex:8;
}
.likes-count{
  margin: 0 0 10px 30px;
}

.content-container {

  overflow: hidden;
  position: relative;
}

.content-container button :hover{
  background-color: aliceblue;

}

.show-more.active {
  display: block;
}

.show-more-button {
 
  background-color: aliceblue;
  color: #007bff;
  cursor: pointer;
  position: absolute;
text-align: center;
  bottom: 0;
  padding: 5px;
  width: 100%;
  margin: 8px 0 0 0;

}


.show-more-button.active {
  display: block;
}
.show-more-button :hover{
  background-color: aliceblue;
}


.new-comment{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 2%;
  width: fit-content;
 
}
.comment-contaner{
  display: flex;
}
.content-comment p{
  margin-top: 0px;
  margin-left: 0px;
 
}

.content-comment{
  margin-left: 15px;
  background-color: #eaeaf9;
  border: 1px  solid #c4bebe;
  border-radius: 15px;
  width: 9rem;
  padding-right: 15px;
  max-width: 70%;
  padding-left: 10px;
  padding-top: 10px;
  overflow-wrap: anywhere;
}

.react-post{
  display: flex;
    width: fit-content;
    margin-left: 10px;

}
.react-post button {
  background-color: aliceblue;
  
}
.react-post button:hover {
  background-color: aliceblue;

  
}

.comment-count{
  margin-left: 15px;
  background-color: aliceblue;
}
.comment-count:hover{
  background-color: aliceblue;
}
.comment-content img {
  width: 100%;
  height: auto;
}

.sub-comments{
  margin-left: 10%;
}
.infor-author{
  display:'flex';
  flex-direction: 'row';
  flex: 9 ;
  margin-top: 3%;
}
.infor-author p {
  margin-top: 0;
}
.give-start span {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .infor-author {
    display: block;
    margin-top: 5%;
    
  }
  .infor-author p {
    margin-top: 0;
  }
  .ant-modal-body {
    height: 40vh;
    overflow-y: auto;
  }
  .ant-modal {
    top: 5px
  }
}
  
