.Register-form {
  position: fixed;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800; /* Đảm bảo form nằm trên cả nội dung khác */
 overflow-y: scroll;
 overflow-x: scroll;
}
.register-body-form h2{
  text-align: end;

}
.register-body-form{
  position: relative;
  top:3rem;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 80vh;
  padding: 12px;
  content: 30px;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: aliceblue;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 15px;
  margin-bottom: 15px;
}

.register-body-form-teacher{
  position: relative;
  top:3rem;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 80vh;
  padding: 12px;
  content: 30px;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: aliceblue;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 15px;
  margin-bottom: 15px;

}

.register-body-form-student{
  position: relative;
  top:3rem;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 80vh;
  padding: 12px;
  content: 30px;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: aliceblue;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 15px;
  margin-bottom: 15px;

}
.Loading-register{
  position: absolute;
  top: 47vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
}
.button-register{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  max-width: 98%;
  flex: auto;
  height: 50px;
}
.button-register-login{
  background-color: green;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  max-width: 100%;
  flex: auto;
  height: 50px;
}
.logo{
  width: 330px;
  height: 110px;
}

.Loading-register{
  position: fixed;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
}

.information-account{
  display: flex;
 
  height: auto;
}
.information-profile-register
{
  display: flex;
  flex-wrap: wrap;
}
.information-profile-register .form-item-register {
  flex: 1 1 45%; /* Mỗi item chiếm khoảng 45% chiều rộng, tạo khoảng cách giữa các item */
  min-width: 200px; /* Đảm bảo rằng các item có chiều rộng tối thiểu */
}
.form-item-register{
  margin-left: 25px;
}
.item-form{
  width: 180px;
}
.ant-form-item-control-input {
  width: 88%;
}
.date-picker-parent {
  width: 100%;
}
.ant-select,
.ant-picker {
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  .register-body-form {
    top :-4rem;
    text-align:  center;
  }
  .register-body-form h2{
    text-align: center;
  }
  .register-body-form-teacher h2{
    text-align: center;
  }
  
  .register-body-form-student h2{
    text-align: center;
  }
  .item-form{
    width: 160%;
  }

  .information-profile-register{
  
    align-items: start 
  }
  .register-body-form-teacher{
    top:-10rem
  }
  .register-body-form-student{
    top: -11rem;
    max-height: 59vh;
  }
  .information-account input {
    width: 180%;

    }
}