.body-verify {
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.login-form-button {
  width: 100%;
}

.verify-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  content: 30px;
  
  border-radius: 10px;
 
  
}
