.exam-item{
    text-align: center;
}

.exam-item__button button {
    width: 150px;
    height: 45px;
}
.exam-item-component{
    margin-top: 75px;
}

.exam-item-component__back{
    margin: 3rem 0 0 5rem;
}

.item__button__start{
    border-radius: 5px;
}