.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}


.sider-left,
.sider-right,
.content-main {
  position: fixed;
  top: 5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
}

.sider-left {
  left: 0;
  width: 20%;
}
.content-main {
  left: 22rem; /* Độ rộng của .sider-left */
  right: 22rem; /* Độ rộng của .sider-right */
  width: auto; /* Có thể thay đổi độ rộng theo nhu cầu */
}
.content-main-1 {
  left: 22rem; /* Độ rộng của .sider-left */
  width: auto; /* Có thể thay đổi độ rộng theo nhu cầu */
  position: fixed;
  top: 5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
}
.content-main-2 {
  right: 12rem; /* Độ rộng của .sider-right */
  width: auto; /* Có thể thay đổi độ rộng theo nhu cầu */
  position: fixed;
  top: 5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
}


/* ///////////////////////////////////////////// */

/* DefaultLayout.css */
.content-main-child
{
  width: 70%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ngăn chặn trình duyệt cuộn toàn bộ trang */
}

.layout-container {
  display: flex;
  height: 100vh; /* Sử dụng chiều cao 100% của viewport */
}

.header {
  flex: 0 0 auto; /* Header không co giãn và không thay đổi kích thước */

}

.sider-left {
  flex: 0 0 25vw; /* Sider trái có chiều rộng cố định */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
 

}

.content {
  flex: 1; /* Content sẽ co giãn để điền vào phần còn lại của layout */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
  padding: 24px;
  
}

.sider-right {
  flex: 0 0 25vw; /* Sider phải có chiều rộng cố định */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
  margin-top: 5rem;
 
}

.footer {
  flex: 0 0 auto; /* Footer không co giãn và không thay đổi kích thước */
  background-color: #f0f2f5; /* Màu nền của Footer */
  text-align: center;
  padding: 10px;
}

.ant-layout-sider .ant-layout-sider-dark{
  background-color: white;
}

.body-web{
  margin-top: 5%;
}
.left-web{

  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.right-web{
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 5rem;
  margin-right: 2%;
  width: 25%;
}

.main-web-content{
 
  width: 60%  ;
  margin-left: 3.5%;
  
  
}
.main-web{
  overflow-y: auto  ;
  height: 84vh  ;
  margin-top: 1%;

}

.left-web-content{
  margin-left: 2%;
}

@media only screen  and (max-width: 46.1875em){
  .header {
    background: colorBgContainer;
  }

  .body-web {
    flex-direction: column;
    height: 70vh;
    overflow-y:auto ;
    margin-top: 15%;
  }

  
  .main-web {
    width: 100%;

  }

  .left-web,.right-web {
    display: none; /* Ẩn phần bên trái, phải trên điện thoại */
  }
 

  .left-web-content,
  .main-web-content {
    padding: 0 10px; /* Điều chỉnh padding cho nội dung trái và chính */
  }
  .ant-col-19{
      max-width: 100%;
  }
  .ant-col-18 {
    max-width: 100%;
  }
 
}

