.navTop {
  display: flex;
  width: 100wh;
  height: 60px;
  background-color: blue;
}

span {
  font-size: 25px;
}

.block1 {
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}

.stem {
  font-size: 30px;
}
