.friend-request__title h3 ::after{
    content: "";
    position: absolute;
    top: 15%;
    width: 47%;
    height: 1px;
    background-color: black;
    left: 50%;
}

.invite-group  :hover{
    background-color: #f0f2f5;
    
   

}
.invite-group{
   
    border: 1px solid #e6e6e6;
    padding-bottom: 5%;
    border-radius: 10%;
    border: 0.25px solid #c2bebe;
    border-bottom: 10px solid #c2bebe;
    border-radius: 16px;
    margin-right: 1%;
}

.invite-request__item{
    display: flex;
    background-color: white;
    
    
}

.btn-primary {
    border-radius: 10%;
}

.friend-request_item {
    display: flex;
    background-color: white;
    border: 0.25px solid #c2bebe;
    border-bottom: 10px solid #c2bebe;
    border-radius: 16px;
    margin-right: 1%;
}

.friend-request_item_button {
    margin-bottom: 5%;
}

.friend-request {
    margin-bottom: 30%;
}