.labelItem{
    display: flex;
    margin: 0 0 10px 20px;
    flex:10;
    background-color: white;
    color:black;
}
.labelItem:hover{
    background-color: #ccc;
    cursor: pointer;
}
.image-group{

    border-radius: 15%;
    flex:2;
    border: 0.5px solid #ccc;
    margin-right: 5px;
}
.img-gr{
    width: 100%;
    height: 100%;
    
}
.name-group{
    flex:8;
    
}

